.counterWrapper {
    width: 375px;
    height: 285px;
    margin: 100px auto;
    border: 2px solid #dad6d6;
    background: #F5F7FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.counter {
    width: 160px;
    height: 100px;
    background: #b2cfec;
    margin-top: 50px;
    border-radius: 3px;
    text-align: center;
}

.textCount{
    margin: 25px 0 0 0;
    font-size: 50px;
    color: #3a3636;
}

.counterRed {
    background: #de5151;
    color:#ffffff;
}

.buttons {
    margin-top: 40px;
}

.buttons button {
    border: 0;
    margin: 5px;
    width: 120px;
    height: 55px;
    border-radius: 3px;
    font-size: 20px;
}


.default {
    color: white;
    background: #0066CC;
}

.default:hover {
    background: #0080FF;
}

.default:active {
        background: #0059B2;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;
}

.error {
    margin: 25px 0 0 0;
    color: #de5151;
    font-size: 20px;
}

.errorValue {
    margin-top: 5px;
    color: #de5151;
    font-size: 20px;
}